#root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-family: Inclusive Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.info-table thead {
    display: none;
}
.info-table tr td:first-child {
    background: #eff4f4;
    /* text-align: right; */
    padding-right: 12px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    width: 30%;
}

.p-galleria-thumbnail-item {
    overflow: hidden;
}

a,
.p-button.p-button-link:not(:disabled) {
    color: #1982C4 !important;
    text-decoration: none;
}

a:hover, a:focus, a:active,
.p-button.p-button-link:active,
.p-button.p-button-link:focus,
.p-button.p-button-link:hover {
    color: rgb(62, 167, 231) !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    background: #FEF4D7;
}
.p-inputtext:enabled,
.p-treeselect {
    border-color: #acadd3 !important;

    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.p-inputtext:enabled:hover,
.p-treeselect:not(.p-disabled):hover {
    border-color: #2d2f82 !important;
}
.p-checkbox.p-highlight .p-checkbox-box {
    border-color: #646d70 !important;
    background: #646d70 !important;
    color: #ffffff;
}
.p-checkbox.p-highlight .p-checkbox-box svg {
    color: white;
}
.p-treenode-content {
    padding: 6px;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    color: #2d2f82 !important;
}

.p-card .p-card-body {
    padding: 1rem;
}

.p-galleria {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.img-container {
    background-color: transparent !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100% !important;
    display: flex !important;
    position: relative !important;
    overflow: hidden;
    border: none !important;
    justify-content: flex-end;
    align-items: flex-start !important;
}
.img-container:hover {
    cursor: zoom-in;
}
.img-count {
  float: right !important;
  background: rgba(255, 255, 255, 0.8) !important;
  user-select: none  !important;
  margin-top: 16px !important;
  margin-right: 16px !important;
  font-size: 1.2em !important;
  font-family: monospace;
  padding: 12px !important;
  box-sizing: content-box;
  color: #333 !important;
  display: flex !important;
  height: auto !important;
  border-radius: 100px  !important;
  font-weight: bold !important;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}
.img-button {
  margin-top: 12px !important;
  height: 96% !important;
  background: none !important;
  border: none !important;
}
.img-button .p-button-icon {
  background: rgba(255, 255, 0255, 0.86) !important;
  border-radius: 100px !important;
  padding: 10px !important;
  color: #222 !important;
  transition: all 0.4s ease-in-out !important;
  font-size: 1.25em  !important;
}
.img-button:hover .p-button-icon,
.img-button:active .p-button-icon,
.img-button:focus .p-button-icon {
  background: rgba rgba(255, 255, 255, 0.9) !important;
  transition: all 0.4s ease-in-out !important;
}

.p-selectbutton .p-button.p-highlight {
    background: #2f3186;
    border-color: #2f3186;
    color: #ffffff;
}

.p-selectbutton .p-button{
    border-radius: 16px;
    padding: 6px 24px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.p-selectbutton .p-button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.p-selectbutton .p-button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.map-container {
    height: calc(100vh - 60px);
    overflow: hidden;
}
.map-button-container {
    display: flex;
    flex-direction: row;
}
.tag-container {
    margin-top: -10px;
    margin-bottom: 12px;
}
.recenter-button {
    margin-right: 12px;
    padding: 2px 16px;
}
.info-container {
    height: calc(100vh - 60px);
    overflow: hidden;
}
h2 {
    margin: 0;
}
.listview {
    padding-left: 0;
    margin-top: 16px;
}
.listview li {
    list-style: none;
}
.listview li:not(:first-child) {
    border-top: 1px solid #ccc;
}
.p-button.p-button-icon-only {
    width: auto;
}

.park-header,
.park-tab-button,
.park-link.p-button.p-button-text {
    color: #73b707;
}
.park-tab-button {
    border-color: #73b707;
}
.park-tab-button.selected {
    background: #73b707;
    color: white;
}
.park-header-container {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding-top: 4px;
    margin-bottom: 4px;
}
.park-header {
    padding: 4px;
    font-weight: bold;
}
.sport-header,
.sport-tab-button,
.sport-link.p-button.p-button-text {
    color: #1982c4;
}
.sport-tab-button {
    border-color: #1982c4;
}
.sport-tab-button.selected {
    background: #1982c4;
    color: white;
}
.art-header,
.art-tab-button,
.art-link.p-button.p-button-text {
    color: #FF595E;
}
.art-tab-button {
    border-color: #FF595E;
}
.art-tab-button.selected {
    background: #FF595E;
    color: white;
}


.park-tab-button:not(.selected):hover,
.park-tab-button:not(.selected):focus,
.park-tab-button:not(.selected):active,
.park-link.p-button.p-button-text:hover,
.park-link.p-button.p-button-text:focus,
.park-link.p-button.p-button-text:active {
    background: #eef7de;
}
.sport-tab-button:not(.selected):hover,
.sport-tab-button:not(.selected):focus,
.sport-tab-button:not(.selected):active,
.sport-link.p-button.p-button-text:hover,
.sport-link.p-button.p-button-text:focus,
.sport-link.p-button.p-button-text:active {
    background: #eaf7ff;
}
.art-tab-button:not(.selected):hover,
.art-tab-button:not(.selected):focus,
.art-tab-button:not(.selected):active,
.art-link.p-button.p-button-text:hover,
.art-link.p-button.p-button-text:focus,
.art-link.p-button.p-button-text:active {
    background: #fff2f2;
}


.listview-container {
    text-align: left;
    padding: 12px;
    padding-top: 0;
    padding-right: 24px;
    height: calc(100vh - 270px);
    overflow-y: auto;
}
.listview-button {
    min-width: 31%;
    border-bottom: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: #CCC 0 0 .25em;
    height: 48px;
}

.sidebar {
    height: calc(100vh - 230px);
    overflow-y: auto;
}
.clear-button {
    color: #2f3186;
    padding: 0 16px;
    margin-top: -6px;
}
.clear-button:hover,
.clear-button:focus,
.clear-button:active {
    background: #f5f5f5;
}
.p-button,
.p-card-content label {
    font-family: Inclusive Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
.filter-text {
    box-shadow: none !important;
    border: 1px solid #a1c30d !important;
    border-right: none !important;
}

@media only screen and (max-width: 600px) {
    .map-container {
        height: 40vh;
    }
    .p-card-body {
        padding: 12px !important;
    }
    .p-treeselect-label {
        padding: 4px;
    }
    .p-treenode-content {
        padding: 4px;
    }
    .p-treeselect-token {
        font-size: 0.8em;
        padding: 2px 12px;
    }
    .p-button {
        padding: 4px;
    }
    #root {
        overflow-y: auto;
    }
    .p-selectbutton .p-button {
        padding: 4px 12px !important;
    }
    .tag-container {
        margin-top: 6px;
    }
    .recenter-button {
        position: absolute;
        z-index: 999;
        top: 16px;
        left: 16px;
        background: white;
        color: #797979;
        border-color: #c5c5c5;
        font-size: 1.2em;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        user-select: none;
    }
    h2 {
        margin-bottom: 0;
        font-size: 1.2em;
    }
    .p-card-body {
        padding: 0.5rem !important;
    }
}